* text=auto eol=lf

*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf

*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.mp4 binary
*.webm binary
*.ogg binary
*.gz binary
*.zip binary
